{% extends 'base.html' %}
{% block content %}

<div class="container">
<h2>Money Sent From the USA</h2>
</div>
<div class="container-fluid" id="container1" style="width: 100%; height: 775px; padding-left: 0"></div>
<h2>Cost of Living Index</h2>
<div class="container-fluid" id="container2" style="width: 100%; height: 775px; position: relative; padding-left: 0"></div>

<script>
    var data = {{ outflow|safe }};
    var data2 = {{ col|safe }};

    renderMap(data, 'container1', 'Amount of money sent from the USA: ', '#99ccff', '#02386F', 'million');
    renderMap(data2, 'container2', 'Cost Of Living Index: ', '#ffe2e9', '#800020');

    function renderMap(input, container, preLabel, minColor, maxColor, postLabel) {
        var series = Object.keys(input).map(function(key) {
            return [key, input[key] === 'None' ? null : parseInt(input[key], 10)];
        });

        // example data from server
       // var series = outflow_country_data;
        // Datamaps expect data in format:
        // { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
        //   "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
        var dataset = {};



        // We need to colorize every country based on "numberOfWhatever"
        // colors should be uniq for every value.
        // For this purpose we create palette(using min/max series-value)
        var onlyValues = series.map(function(obj){ return obj[1]; });
        var minValue = Math.min.apply(null, onlyValues),
                maxValue = Math.max.apply(null, onlyValues);
        // create color palette function
        // color can be whatever you wish
        var paletteScale = d3.scale.linear()
                .domain([minValue,maxValue])
                .range([minColor,maxColor]); // blue color
        // fill dataset in appropriate format
        series.forEach(function(item){ //
            // item example value ["USA", 70]
            var iso = item[0],
                    value = item[1];
            dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value) };
        });
        // render map
        new Datamap({
            element: document.getElementById(container),
            projection: 'mercator', // big world map
            // countries don't listed in dataset will be painted with this color
            fills: { defaultFill: '#F5F5F5' },
            data: dataset,
            geographyConfig: {
                borderColor: '#DEDEDE',
                highlightBorderWidth: 2,
                // don't change color on mouse hover
                highlightFillColor: function(geo) {
                    return geo['fillColor'] || '#F5F5F5';
                },
                // only change border
                highlightBorderColor: '#B7B7B7',
                // show desired information in tooltip
                popupTemplate: function(geo, mapData) {
                    // don't show tooltip if country don't present in dataset
                    if (!mapData) { return ; }
                    // tooltip content
                    return ['<div class="hoverinfo">',
                        '<strong>', geo.properties.name, '</strong>',
                        '<br>' + preLabel + '<strong>', mapData.numberOfThings ? mapData.numberOfThings + (postLabel ? ' ' + postLabel : '') : 'No Data', '</strong>',
                        '</div>'].join('');
                }
            }
        });
    }
</script>


{% endblock %}